<!DOCTYPE html>
<html>
<style>
    body
    {
      font-size: 15pt;
      font-family: arial;
    }
</style>

<h1>Welcome to the homepage of our website</h1>
<p>Customer info:</p>
<p><a href="/Customer">Go to the Customer Information </a></p>
<br>
<p>Product info:</p>
<p><a href = "/Inventory"> Go to the Product Inventory Information </a></p>
<br>
<p>Orders:</p>
<p><a href="/log_order">Log an order:</a> </p>
<p><a href = "/Order">Process an order!</a></p>
<p><a href="/Order/return">Log an return</a> </p>
<br>
<p>Restock:</p>
<p><a href="/restock">Log and process an restock</a> </p>
</html>