<html lang="en">
<h1>Process an restock: Continue</h1>

<p><a href="/">Back to Homepage </a></p>

<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 6px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#f5f5f5}
</style>
<table>
    <tr>
      <th>Manufacturer ID </th>
      <th>Manufacturer Name</th>
      <th>Manufacturer Manager</th>
      <th>Contact phone</th>
      <th>Address</th>
    </tr>
    {% for row in manu %}
    <tr>
      <td>{{ row[0]|tojson|safe }}</td>
      <td>{{ row[1]|tojson|safe}}</td>
      <td>{{ row[2]|tojson|safe}}</td>
      <td>{{ row[3]|tojson|safe}}</td>
      <td>{{ row[4]}}</td>
    </tr>
{% endfor %}

  </table>

<br>
<br>
<table>
    <tr>
      <th>Quantity in stock </th>
      <th>Warehouse Name</th>
      <th>Warehouse Manager</th>
      <th>Contact phone</th>
      <th>Address</th>
    </tr>
    {% for row in inven %}
    <tr>
      <td>{{ row[0]|tojson|safe }}</td>
      <td>{{ row[1]|tojson|safe}}</td>
      <td>{{ row[2]|tojson|safe}}</td>
      <td>{{ row[3]|tojson|safe}}</td>
      <td>{{ row[4]}}</td>
    </tr>
{% endfor %}

  </table>

<P><b>Item that was restock:</b></P>
<form method="post" action="/restock/submit">
    Manufacturer ID:
    <input type="text" name = 'mid' value= {{mid}}>
    <br>
    Item ID:
    <input type="text" name = 'id' value= {{id}}>
    <br>
    Size:
    <input type= "text" name = 'size' value= {{size}}>
    <br>
    Color:
    <input type= "text" name = 'color' value={{color}}>
    <br>
    Quantity (Total):   <input type="int" name = 'quantity' value={{quantity}}>
    <br>
    <P><b>Distribute the restock:</b></P>
    To Warehouse 1:
    <input type="int" name = 'd1'>
    <br>
    To Warehouse 2:
    <input type="int" name = 'd2'>
    <br>
    To Warehouse 3:
    <input type="int" name = 'd3'>
    <br>
    To Warehouse 4:
    <input type="int" name = 'd4'>
    <br>
    <input type="submit" value="Submit">
</form>

</html>