<!DOCTYPE html>
<html lang="en">
<h1>Process an restock:</h1>

<p><a href="/">Back to Homepage </a></p>

<form method="post" action="/restock/next">
    Manufacturer ID:
    <select name = 'mid'>
        {% for row in manu %}
        <option value={{row}}>{{row}}</option>
        {% endfor %}
    </select>
    <br>
    Item ID:
    <select name = "id">
        {% for row in idlist %}
        <option value = {{row}}>{{row}}</option>
        {% endfor %}
    </select>
    <br>
    Size:
    <select name = "size">
        <option value = "XS">XS</option>
        <option value = "S">S</option>
        <option value = "M">M</option>
        <option value = "L">L</option>
    </select>
    <br>
    Color:
    <select name = 'color'>
        {% for row in col %}
        <option value= {{row}}>{{row}}</option>
        {% endfor %}
    </select>
    <br>
    Quantity (Total):   <input type="int" name = 'quantity'>
    <br>
    <input type="submit" value="Check inventory status">
</form>
</html>